body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: bisque;
}

.form-row {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.form-row label {
    width: 150px;
    text-align: right;
}

.form-row input {
    padding: 8px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.spacer {
    width: 150px;
    text-align: right;
}

.fieldset {
    color: aquamarine;
    width: 80%;
    margin: auto;
}

.check-row {
    display: flex;
    gap: 10px;
}

